<div class="tabelem" title="{$c->__('page.about')}" id="about">
    <ul class="list thick divided">
        <li>
            <span class="primary icon bubble color green"><i class="material-icons">info</i></span>
            <p>Movim {$version} - {$c->__('page.about')}</p>
            <p class="all">{$c->__('about.info')} <a href="http://www.gnu.org/licenses/agpl-3.0.html">GNU Affero General Public License v3</a>.</p>
        </li>
        <li class="subheader">
            <p>{$c->__('about.thanks')}</p>
        </li>
        <li>
            <span class="primary icon bubble color red"><i class="material-icons">code</i></span>
            <p>{$c->__('about.developers')}</p>
            <p class="all">
                <a href="http://edhelas.movim.eu/">Jaussoin Timothée aka edhelas</a><br/>
                <a href="https://github.com/christine-ho-dev/">Ho Christine aka nodpounod</a><br/>
                <a href="https://www.dominik-george.de/">Dominik George aka Natureshadow</a> from <a href="https://www.teckids.org/">Teckids e.V.</a><br/>
                <a href="https://chat.teckids.org/?blog/tglaser%40mercurius.teckids.org">mirabilos</a><br />
            </p>
        </li>
        <li>
            <span class="primary icon bubble color purple"><i class="material-icons">flag</i></span>
            <p>{$c->__('about.translators')}</p>
            <p>
                {$c->__('about.translators_text')} <a href="https://www.transifex.com/projects/p/movim/">www.transifex.com/projects/p/movim/</a>
            </p>
        </li>
        <li class="subheader">
            <p>{$c->__('about.software')}</p>
        </li>
        <li>
            <span class="primary icon bubble color orange"><i class="material-icons">archive</i></span>
            <p>{$c->__('about.software')}</p>
            <p class="all">
               Pako.js <a href="https://github.com/nodeca/pako">nodeca/pako
               </a> under MIT<br />
               Favico.js - Miroslav Magda <a href="http://lab.ejci.net/favico.js/">lab.ejci.net/favico.js</a> under GPL and MIT<br/>
               Markdown - Michel Fortin <a href="http://michelf.ca/projects/php-markdown/">michelf.ca</a> ©Michel Fortin<br/>
               Template Engine - RainTPL - Federico Ulfo <a href="http://www.raintpl.com/">www.raintpl.com</a> under MIT<br/>
               Embed - Oscar Otero <a href="https://github.com/oscarotero/Embed">GitHub Embed</a> under MIT<br/>
               Database engine - Eloquent - <a href="https://github.com/illuminate/database">Illuminate/Database</a> under MIT<br/>
               WebSocket and Daemon engine - ReactPHP -  <a href="http://socketo.me/">socketo.me</a> ©Chris Boden<br/>
            </p>
        </li>
        <li>
            <span class="primary icon bubble color brown"><i class="material-icons">mood</i></span>
            <p>{$c->__('about.resources')}</p>
            <p class="all">
                Search Jabber Network <a href="https://search.jabber.network/about">by Jonas Schäfer</a> under AGPLv3<br/>
                Material Icons <a href="https://material.io/tools/icons/">by Google</a> under Apache License 2.0<br/>
                Twemoji <a href="http://twitter.github.io/twemoji/">by Twitter</a> under MIT and CC-BY<br/>
            </p>
        </li>
    </ul>
</div>
