#draw {
    display: flex;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba(0, 0, 0, 0.7);
    transition: transform .3s cubic-bezier(.4,0,.2,1) .05s;
    transform: translateY(120%);
}

#draw.open {
    transform: translateX(0);
}

#draw .canvas {
    position: relative;
    height: 100%;
    width: 100%;
    margin: auto;
}

#draw #draw-background {
    position: absolute;
    z-index: -1;
}

#draw #draw-canvas {
    cursor: crosshair;
}

/* Controls */
#draw .draw-control {
    position: absolute;
    bottom: 0.5rem;
    right: 0;
    transition: transform 0.2s;
}

#draw .draw-control.drawing {
    transform: translateX(100%);
}

#draw .draw-control li.selected span.primary {
    border: 0.5rem solid #AAA;
    transform: translate(-0.5rem,-0.5rem);
}

#draw .draw-control p {
    height: 5.5rem;
    display: block;
    padding-right: 0;
    padding-left: 8rem;
}

#draw [data-width=small] i {
    font-size: 2rem;
}
#draw [data-width=medium] i {
    font-size: 2.5rem;
}
