#upload img.preview_picture {
    max-height: 35rem;
    max-width: calc(100% - 2rem);
    margin: 0 auto;
    display: block;
}

#upload img.preview_picture[src] {
    margin: 1rem auto;
    margin-top: 0;
}

#upload img.preview_picture[src] ~ li:not(.file) {
    display: none;
}

#upload div.drop {
    width: auto;
    margin: 2rem;
    display: block;
    box-sizing: border-box;
    border-radius: 0.5rem;
    min-height: 30rem;
    background-color: rgba(0, 0, 0, 0.15);
    border: 0.5rem solid transparent;
    border-style: dashed;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

#upload div.drop.dropped {
    border-color: gray;
}